.beans{

    .about{
        padding: 70px 0 30px 0;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 42px;
        &__img{
            display: grid;
            justify-self: end;
        }
        &__wrapper{
            max-width: 346px;
            display: grid;
            grid-row-gap: 16px;
            justify-content: center;
            align-self: center;
            &-title{
                display: grid;
                justify-self: center;
                align-self: center;
                margin-bottom: 6px;
            }
            &-separator{
                max-width: 200px;
                margin-bottom: 9px;
            }
            
            &-text{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #000000;   
                text-align: center;             
            }
        }
    }
}