.navbar{
    grid-gap: 40px;
    position: relative;
    justify-self: center;
    &:first-child{
        &:after{
            position: absolute;
            background:url(../asset/coffee-beanses.svg) no-repeat;
        }        
    }
    &-footer{
        @media screen and (max-width: 992px){
            grid-gap: 25px;
        }    
        @media screen and (min-width: 568px){ 
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &-header{
        justify-self: center;  
        @media screen and (min-width: 768px){
            grid-template-columns: 1fr 1fr 1fr;
            display: grid;          
            padding-bottom: 60px;
            padding-left: 150px;
            justify-self: start;
        }          
    }
    
    &-link{
        display: grid;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        position: relative;
        transition: 0.3s all ease;
        text-align: center;
        text-decoration: none;
        box-sizing:border-box;
        border: 1px solid transparent;
        width: 150px;
        height: 40px;
        cursor: pointer;            
        &:hover{ 
            border-radius:3px;           
            border: 1px solid #FFFFFF;  
            background-color: rgba(255, 255, 255, 0.25)
        }
        &-black{
            color: #000000;
            &:hover{ 
                border-radius:3px;           
                border: 1px solid #000000;  
                background-color: rgba(0, 0, 0, 0.15)
            }
        } 
    }
}